<!-- <h2>Game List</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Description</th>
    <th>Release Date</th>
  </tr>
  <tr *ngFor="let game of games">
    <td>{{ game.title }}</td>
    <td>{{ game.genre.toString() }}</td>
    <td>{{ game.rating }}</td>
    <td>{{ game.description }}</td>
    <td>{{ game.releaseDate | date }}</td>
  </tr>
</table> -->
<div class="bg-white p-6 rounded-lg shadow-lg">
  <h1 class="text-2xl font-bold mb-4">Game List</h1>
  <ul class="space-y-4">
    <li
      *ngFor="let game of games"
      class="p-4 border rounded-lg hover:shadow-md flex justify-between"
    >
      <div>
        <img
        *ngIf="game.iconUrl"
        [src]="game.iconUrl"
        alt="{{ game.title }}"
        class="w-16 h-16 mr-4 rounded-lg"
      />
        <h2 class="text-lg font-bold">{{ game.title }} ({{ game.rating }})</h2>
        <p class="text-sm text-gray-600">{{ game.description }}</p>
      </div>
      <div>
        <span class="bg-green-200 text-green-700 text-sm px-2 py-1 rounded">
          {{ game.genre }}
        </span>
      </div>
    </li>
  </ul>
</div>

